@use "../../styles/mixins/button" as buttons;

.profile {
  height: 100%;
}

.profile__card  {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 40px;
  padding: 2.5rem;
}

.profile__buttons > button {
    @include buttons.button
}