.main {
    background-color: #F9F3EF;
    width: 100%;

    &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1440px;
        margin: 0 auto;
        width: 1440px;
        overflow-x:hidden;
    }

  
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}