@font-face {
  font-family: 'montserrat'; /* A name you choose for your font */
  src: local('MyCustomFont'), 
       url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('woff2'),
       url('fonts/MyCustomFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'montserrat';
}
