@mixin button($color: #456882, $hover: #eaeaea) {
  margin-top: 0.5rem;
  color: white;
  padding: 0.8rem;
  border: 1px solid #ccc;
  background-color: $color;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background: $hover;
  }
}
