@mixin button($color: #2563eb) {
    color: white;
    padding: 8px 16px;
    border: 1px solid #ccc;
    background-color: $color;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;

    &:hover {
        background: #eaeaea;
      }
}
